
.column{
    justify-content: center;
    align-items: center; 
}  

.card-content{
    background-color: white;
    background-size: 100%;
    

}
.card{
    /*background-image: linear-gradient(rgb(251, 0, 255), rgb(255, 92, 4));*/
    
    font-family:  serif; 
    border: 2px solid black;
    height: 500px;
    width: 600px;
    /* padding:150px; */
    align-items: center;
    background-image: url("C:/Users/Yathish nanaiah/go/image/pexels-maria-orlova-4906238.jpg" ); 
    background-size: 300px 500px;
    background-position: end;
} 

.section{
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    padding:110px 450px;
  

}

.flex-container{
    justify-content: flex-start;
    align-items: flex-start;

}

.card-header{
    background-image: url("C:/Users/Yathish nanaiah/go/image/logo-removebg-preview.png");
    background-size: 110px 60px;
    height: 60px;
    width: 90px;
    background-position: bottom;
   
    
}


